

<!-- EDIT FORM -->
<%= form_for [@engineer,@zat] do |p| %>

<h2>Edit Session</h2>
<h4>Use the dropdown menus below:</h4>
<h5>
    <label>Studio Location:</label><br>
    <%= select("zat", "studio_id", @studios.collect {|p| [ p.name, p.id] }, {prompt: 'Book Studio'}) %>
    <br>
    <br>
    <label>Appointment Date:</label><br>
    <%= select("zat", "appointment_date", @zats.collect {|p| [ p.appointment_date, p.id] }, {prompt: 'Select Date and Time'}) %>

    <br>
    <br>
    <label>Recording Engineer:</label><br>
    <%= select("zat", "engineer_id", @engineers.collect {|p| [ p.name, p.id] }, {prompt: 'Assign Engineer'}) %>
    <br>
    <br>
    <label>Recording Artist:</label><br>
<%= select("zat", "artist_id", @artists.collect {|p| [ p.name, p.id] }, {prompt: 'Select Artist'}) %>
    <br>
    <br>
<input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
    value="2019-05-21T07:00"></p>
Appointment Date : <%= p.text_field :appointment_date %><br />
    <%= p.submit %>
    <% end %>
    </h4>
    <!-- END OF EDIT FORM -->