<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="#home" class="w3-bar-item w3-button">Book a Recording Session</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#about" class="w3-bar-item w3-button">Studios</a>
                <a href="#menu" class="w3-bar-item w3-button">Artists</a>
                <a href="#contact" class="w3-bar-item w3-button">Engineers</a>
            </div>
        </div>
    </div>

<!-- Header -->

<h1 class="w3-xxlarge">View Studios</h1>
</div>
</header>

                                <body>

<br>






</ol>

<%= form_for @zat , url: {action: "update"} do |f| %>
Engineer: <%= f.text_field :engineer %><br />
Studio : <%= f.text_field :studio %><br />
Artist : <%= f.text_field :artist %><br />
<p></p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
        value="2019-05-21T07:00"></p>
Appointment Date : <%= f.text_field :appointment_date %><br />
<%= select("post", "studio_id", @studios.collect {|p| [ p.name, p.id ] }, {prompt: 'Studio...'}) %>
<%= f.submit %>
<% end %>

<br>
<br>
--------------------------------------------------
<table>
    <thead>
        <tr>
            <th>Engineer</th>
            <th>Artist</th>
            <th>Studio</th>
            <th>Recording Session Date</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <% @zats.each do |c| %>
    <tbody>
        <tr>
            <td><a href="/engineers/@engineer_id page/:id"><%= c.engineer.name.capitalize %></a></td>
            <td><a href="/artists/:artist_id"><%= c.artist.name.capitalize %></a></td>
            <td><a href="/studios/@studios_path"><%= c.studio.name.capitalize %></a></td>
            <td><a href="/zats/:id/edit"><%= c.appointment_date.time.to_formatted_s(:rfc822) %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>
--------------------------------------------------


















---------------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>

<%= form_for @zat , url: {action: "update"} do |f| %>
<%= f.label 'Recording Session Date' %><br>
<%= f.text_field :appointment_date %><br>


<%= f.label 'Recording Session Location' %><br>
<%= f.text_field :studio_id %><br>

<%= f.label 'Recording Session Engineer' %><br>
<%= f.text_field :engineer_id %><br>


<%= f.label 'Recording Session Artist' %><br>
<%= f.text_field :artist_id %><br>

<%= f.submit "Update" %>
<% end %>



------------------------------------------------
<div>
    
    <form class="edit_list" id="edit_list_1" action="/zats/:id" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="authenticity_token"
            value="xvH5oMgncW/AZAVhIh5pXWtPoMYbQ/BjllTGLufOQVthBTwzBadiY4x1ExI8Um/HO5C/nu5wbGa0MrZq4xTiBg==" />
        <label for="appointment_date">Appointment Date</label>
        datetime_field_tag(name, value = nil, options = {})
        <input type="text" value="" name="zat[appointment_date]" id="appointment_date" />
        <input type="submit" name="commit" value="Update Appointment" />
    </form>

</div> 



<br>
<br>
<br>
<br>
<br>
---------------------------------------

<p class="w3-text-blue-grey w3-large"><b>Recording Studios, 42nd Living St, 43043 New York, NY</b></p>
<br>
<form action="/action_page.php" target="_blank">
    <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
        value="2019-05-21T07:00"></p>
        <%= select("post", "studio_id", @studios.collect {|p| [ p.name] }, {prompt: 'studio.name'}) %>
    <%= select("post", "artist_id", @artists.collect {|p| [ p.name] }, {prompt: 'artist.name'}) %>
    <%= select("post", "engineer_id", @engineers.collect {|p| [ p.name] }, {prompt: 'engineer.name'}) %>

    <p><button class="w3-button w3-light-grey w3-section" type="submit">Update</button></p>
</form>
</div>



------------------------------------------------------


<%= form_for :zat do |f| %>
<h2>Create a new recording session!</h2>
<br>
<h3>Please select from the dropdowns below to create your new recording session:</h3>



<%= select("post", "studio_id", @studios.collect {|p| [ p.name, p.id ] }, {prompt: 'Book a Studio...'}) %>

<br>
<br>
    <%= f.submit %>
    <% end %>
<br>
<br>














<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
            class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>

</html>