<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="#home" class="w3-bar-item w3-button">Book a Recording Session</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#about" class="w3-bar-item w3-button">Studios</a>
                <a href="#menu" class="w3-bar-item w3-button">Artists</a>
                <a href="#contact" class="w3-bar-item w3-button">Engineers</a>
            </div>
        </div>
    </div>

<!-- Header -->

<h1 class="w3-xxlarge">View Studios</h1>
</div>
</header>

                                <body>

<br>

<div>
    <h2> Edit Recording Session </h2>
        <%= form_for @zat , url: {action: "update"} do |f| %>
<label>Engineer ID:</label><br>
        <%= f.text_field :engineer_id %><br>
<label>Studio ID:</label><br>
        <%= f.text_field :studio_id %><br>
<label>Artist ID:</label><br>
        <%= f.text_field :artist_id %><br>
<input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
    value="2019-05-21T07:00"></p>
    Appointment Date : <%= f.text_field :appointment_date %><br />
<%= f.submit %>
<% end %>
<br>
<%= link_to 'Delete Appointment', [@zat],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>

</div>
<h2>Recording Sessions</h2>
<table>
    <thead>
        <tr>
            <th>Engineer</th>
            <th>Artist</th>
            <th>Studio</th>
            <th>Recording Session Date</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <% @zats.each do |c| %>
    <tbody>
        <tr>
            <td><a href="/engineers/@engineer_id page/:id"><%= c.engineer.name.capitalize %></a></td>
            <td><a href="/artists/:artist_id"><%= c.artist.name.capitalize %></a></td>
            <td><a href="/studios/@studios_path"><%= c.studio.name.capitalize %></a></td>
            <td><a href="/zats/:id/edit"><%= c.appointment_date.time.to_formatted_s(:rfc822) %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<!-- Last -->

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
            class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>

</html>