


<% if @zats.blank? %>
<p>There are currently no recording sessions scheduled.</p>
<% else %>
<p>These are the current recording sessions.</p>
<br>
<ol id="zats">
    <% @zats.each do |c| %>
    <li> Studio: <%=c.studio.name.capitalize%> ***
         Engineer: <%=c.engineer.name.capitalize%> ***
         Artist: <%=c.artist.name.capitalize%> ***
         Date: <%= c.appointment_date %>
          <% if c.status == false %>
         Status: session not yet held
            <% end %>
<br>
<br>
    </li>
    <% end %>
    <% end %>

</ol>

<%= form_for :zat do |f| %>
Engineer name: <%= f.text_field :engineer %><br />
Studio : <%= f.text_field :studio %><br />
Artist : <%= f.text_area :artist %><br />
<%= f.submit %>
<% end %>
-------------------------------------------------
    
<br>
-------------------------------------------------
<br>
<h3>Please select a location from the dropdown below</h3>
<%= select_tag 'zat_id', options_for_select(@zats.map{|zat| ["#{zat.studio.name} #{zat.engineer.name} #{zat.artist.name}", zat.id] }) %>
    