<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Avenir Next", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="#home" class="w3-bar-item w3-button">zat app</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#studios" class="w3-bar-item w3-button">Studios</a>
                <a href="#artists" class="w3-bar-item w3-button">Artists</a>
                <a href="#engineers" class="w3-bar-item w3-button">Engineers</a>
            </div>
        </div>
    </div>

    <!-- Header -->
            <h1 class="w3-xxlarge">View Studios</h1>
        </div>
    </header>

    <body>



    <!-- NEW FORM -->
<%= form_for [@engineer,@zat], url: {action: "create"} do |p| %>

<h2>Create a New Session</h2>
<h4>Use the dropdown menus below:</h4>
    <h5>
         <%= select("zat", "studio_id", @studios.collect {|p| [ p.name, p.id] }, {prompt: 'Book Studio'}) %>
            <br>
            <br>
         <%= select("zat", "appointment_date", @zats.collect {|p| [ p.appointment_date] }, {prompt: 'Select Date and Time'}) %>

    <br>
    <br>
        <%= select("zat", "engineer_id", @engineers.collect {|p| [ p.name, p.id] }, {prompt: 'Assign Engineer'}) %>
            <br>
            <br>
        <%= select("zat", "artist_id", @artists.collect {|p| [ p.name, p.id] }, {prompt: 'Select Artist'}) %>

    <br>
    <br>

    <%= p.submit %>
            <% end %>
</h4>
<!-- END OF NEW FORM -->