
<body>

<!-- RECORDING SESSION INFO -->
<div>
<h2> Scheduled Recording Session </h2>
Engineer: <%= @zat.engineer.name %>
<br>
Studio: <%= @zat.studio.name %>
<br>
Artist: <%= @zat.artist.name %>
<br>
Recording Session: <%= @zat.appointment_date.time.to_formatted_s(:rfc822)  %>
<br>
Recording Session ID: <%= @zat.id %>
<br>
Recording Session Complete? <%= @zat.status %>
<br>
<%= DateTime.parse(@zat.appointment_date.to_s).strftime("%I:%M %p") %>

</div>
<br>

<!-- Rec SESSION UPDATE FORM -->
    <body>
        <%= render 'edit_partial', form: @zat %>
        <br>
        <!-- Last -->
<!-- Testing code -->
<!-- End page content -->