
<body>

<!-- RECORDING SESSION INFO -->
<div>
<h2> Scheduled Recording Session </h2>

Session ID: <%= @zat.id %>
<br>
Session Date: <%= @zat.appointment_date.time.to_formatted_s(:rfc822)  %>
<br>
Engineer: <%= @zat.engineer.name %>
<br>
Studio: <%= @zat.studio.name %>
<br>
Location: <%= @zat.studio.location %>
<br>
Artist: <%= @zat.artist.name %>
<br>
Recording Session Complete? <%= @zat.status %>
<br>
<%= DateTime.parse(@zat.appointment_date.to_s).strftime("%I:%M %p") %>
<br>
</div>

<div>
</body>

<button><%= link_to "Edit", edit_zat_path(@zat), :class => 'btn btn-default' %></button>
<button><%= link_to "Delete", zat_path(@zat), 
                        method: :delete, 
                        data: {confirm: 'Are you sure you want to delete this session?'} , :class => 'btn btn-default'%>
</button>

</div>